body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  transition: all 0.3s ease;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
}

button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

#content-section {
  display: block;
}

#auth-section {
  display: block;
}

.night-mode {
  background-color: #333;
  color: white;
}

.night-mode button {
  background-color: #4CAF50;
  color: white;
}

.night-mode textarea {
  background-color: #555;
  color: white;
  border: 1px solid #444;
}

.night-mode .post {
  background-color: #444;
  color: white;
  border: 1px solid #333;
  margin: 5px 0;
}
